#ponies-grid {
  background: #CCC;
}

#ponies-grid  div {
  overflow: hidden;
  border: 5px solid #FFF;
  height: 100px;
  padding: 0 20px 20px 0;
  text-align: center;
  background: #000;
}

#ponies-grid div .ui-block-d {
  padding-right: 0;
}

#pony-view-image img {
  width: 100%;
}
